/* src/components/material.css */
.material-container {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
  .complementary-subjects,
  .itineraries {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }

  .niveles-section,
  .semestres-section,
  .horas-semestrales-section {
    margin-bottom: 20px;
  }


  .semestres-section svg {
    display: block;
    margin: auto;
  }
  .info-icon {
    margin-right: 10px;
    color: #007bff;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  