/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;

}

/* Estilos */

/* src/App.css */

/* .number-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.number {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.square {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
} */

/*  */
h1 {
  color: #333;
}

/* .react-flow__node {
  background: #ffcc00;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
} */
/* .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  margin-top: -10px;
  margin-bottom: 10px;
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
